$font-family-base: "Montserrat", sans-serif !default;

$primary: rgb(255,82,88);
$secondary: rgba(0,0,0,.7);

$border-color: $secondary;

@import "/node_modules/bootstrap/scss/bootstrap.scss";

.main-panelbg{
    background: $primary;
    color: #fff;
}